@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans' , sans-serif;
    
}

main{
    display: flex;
}

article{
    display: flex;
    width: 85vw;
    height: 10vh;
    position: top;
    align-items: center;
    justify-content: center;
    background-color: #4f22b1;
    margin-bottom: 10px;
}

.painel{
    display: flex;
    width: 90%;
    height: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #7323be;
    box-shadow: -10px 10px 10px #00000052;
    gap: 1rem;
}

#procurar{
    width: 40%;
    height: 70%;
    border-radius: 15px;
    background-color: #8645c2;
    box-shadow: 10px 10px 10px #00000052;
    outline: none;
    border: none;
    color: #b9e0ff;
    font-size: larger;
    justify-content: center;
}


#procurar::placeholder{
    letter-spacing: 2px;
    font-weight: 800;
    text-align: center;
    color:#b9e0ff;
}

.main i{
    margin: 0px 5px;
    cursor: pointer;
    color:#b9e0ff;

}


aside{
    display: flex;
    width: 15vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4f22b1;


}

.menu{
    display: flex;
    background-color: #7323be;
    width: 85%;
    height: 95%;
    box-shadow: -10px 10px 10px #00000052;
    border-radius: 15px;
    gap: 1rem;
  justify-content:  center;
  flex-wrap: wrap;
  color:#b9e0ff;
}

.menu > i, h2{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    margin-top: 15px;
    color:#b9e0ff;
}

.menu > i{
    margin-top: 30px;
}
section{
    display: flex;
    background-color: #4f22b1;
    width: 85vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carrinho{
    display: flex;
    background-color: #7323be;
    width: 90%;
    height: 85%;
    border-radius: 15px;
    box-shadow: -10px 10px 10px #00000052;
    flex-wrap: wrap;
}

.cards{
    display: flex;
    background-color: #8645c2;
    margin: 20px 20px;
    width: 20%;
    height: 44%;
    border-radius: 25px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: -10px 10px 10px #00000052;
    color: #b9e0ff;
}

.botao_comprar{
    border-radius: 10px;
    padding: 10px 30px;
    border: none;
    background-color: #b9e0ff;
    box-shadow: 0px 4px 12px -5px #b9dfff6b; 
    letter-spacing: 2px;
    font-weight: 800;
    color: #8645c2;
    cursor: pointer;
    margin-top: 180px;
}