body {
    background-color: #252525;
    font-family: 'Noto Sans' , sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-content: center;
    font-size: 1rem;
    color: #b9e0ff;
}

h1 {
    display: flex;
    font-size: 28px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1.2rem;
    padding-left: 4%;
    color: red;
}

h2 {
    font-size: 22px;
    margin-bottom: 0%;
}

h3 {
    font-size: 35px;
    margin: 0.5%;
}

p {
    display: flex;
    margin: 0.2%;
    font-size: 1.2rem;
}

b {
    margin-left: 0.3rem;
}

.imagem img, .basico p, .basico h2, .estrela, .endereço, .garantia, .nome {
    border-bottom: solid 1px #000000;
}

.painel /* Topo */ {
    margin-top: 1%;

    display: flex;
    width: 80rem;
    height: 2.7rem;
    position: absolute;
    left: 1rem;
    top: 0rem;
    border-radius: 1.2rem;
    box-shadow: 10px 10px 10px #00000052;
    color: #b9e0ff;
    background-color: #6b0ac5;
}

.pesquisa /* Barra de pesquisa */ {
    display: flex;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    color: #b9e0ff;
}

#procurar {
    width: 40%;
    height: 80%;
    position: absolute;
    left: 30%;
    border-radius: 2.5rem;
    outline: none;
    border: none;
    padding-left: 1%;
    box-shadow: 10px 10px 10px #00000052;
    font-size: 1rem;
    background-color: #8645c2;
    color: #b9e0ff;
}

#procurar::placeholder {
    letter-spacing: 2px;
    font-weight: 800;
    color: #b9e0ff;
}

.lupa {
    position: absolute;
    left: 69%;
}

a {
    color: #b9e0ff;
    text-decoration: none;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

a:hover {
    color: #000000;
}

.menu {
    display: flex;
    height: 98%;
    width: 20%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 14%;
}

.logar /* Logar/Registrar-se */ {
    display: flex;
    height: 98%;
    width: 20%;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0%;
}

.carrinho /* Carrinho */ {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 19%;
}

.nome {
    background-color: #6b0ac5;
    width: 79.06rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-left: 0.8rem;
    margin-top: 5rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.produto {
    display: inline-flex;
}

.direita, .esquerda {
    display: block;
    background-color: #6b0ac5;
    height: auto;
    width: 38.5rem;
    padding-left: 1.5rem;
}

.direita {
    justify-content: right;
    border-bottom-right-radius: 2rem;
    border-left: solid 1px #000000;
}

.esquerda {
    justify-content: left;
    margin-left: 0.8rem;
    border-bottom-left-radius: 2rem;
}

.imagem img /* Imagem do produto */ {
    display: block;
    width: 25rem;
    height: 25rem;
    padding: 5% 19% 5% 20%;
    margin-left: -4%;
}

.basico /* Informações basicas */ {
    width: 40.1rem;
    margin-left: -4%;
}

.basico p, .basico h2 {
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 2%;
}

.relacionado {
    width: 40.1rem; 
}

.relacionado h2 {
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 3%;
}

.cards{
    display: inline-flex;
    background-color: #9766c5a9;
    margin-left: 2rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    width: 34%;
    height: 13.5rem;
    border-radius: 2rem;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    box-shadow: -10px 10px 10px  #00000052;
    color: #0c0c0c;
}

.cards img {
    display: flex;
    height: 7rem;
    width: 7rem;
    padding-bottom: 2%;
}

.cards a {
    color: #0c0c0c;
    text-align: center;
    padding-bottom: 2%;
}

.cards a:hover {
    color: #b9e0ff;
}

.estrela /* Estrela */ {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 2%;
    margin-left: -4%;
    padding-left: 4%;
    width: 40.1rem;
    margin-top: 2%;
}

.estrela img {
    display: inline-flex;
    width: 8.5rem;
    height: 2rem;
}

.valor /* Valor */ {
    display: block;
    text-align: left;
    width: 38.5rem;
    margin-left: -4%;
    padding-left: 4%;
    padding-top: 1%;
}

.parcela  {
    text-decoration: underline;
}

.endereço /* Frete */ {
    margin-top: 1%;
    width: 38.5rem;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: -4%;
    padding-left: 4%;
    padding-bottom: 1%;
}

.comprar , .adicionar /* Botões de compra */ {
    display: block;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 2.5rem;
    width: 17rem;
    border-radius: 2.5rem;
    outline: none;
    border: none;
    box-shadow: 10px 10px 10px #252525;
    background-color: #b9e0ff;
    color: #6b0ac5;
    font-size: 1.2rem;
}

.comprar:hover , .adicionar:hover {
    background-color: #000000;
    color: #b9e0ff;
}

.garantia /* Garantia */ {
    display: flex;
    width: 38.5rem;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: -4%;
    padding-left: 4%;
    padding-bottom: 1%;
}

#garantia {
    margin-right: 2%;
}

.detalhe /* Detalhamento */ {
    width: 38.5rem;
    margin-left: -4%;
    padding-left: 4%;
    margin-top: 1.5%;
    font-size: 1.2rem;
}

.detalhe h2 {
    padding-bottom: 2.9%;
}

.detalhe li {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5%;
    line-height: 1.7rem;
}